#body-style {
  background-image: url(/images/bg-age.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.polna_casa {
  /* text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px #222222;
  width: 300px;
}

.polna_casa img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222222;
  font-size: 20px;
  text-shadow: 2px 2px #d2bbbb;
  font-style: normal;
  font-weight: 600;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-stretch: 100%;
  font-variation-settings: normal;
  font-feature-settings: normal;
  text-transform: uppercase;
  text-decoration: none solid rgb(34, 34, 34);
  text-align: center;
  text-indent: 0px;
}
.Jazik {
  border-radius: 5px;
  text-align: center;
}
.Jazik select {
  border-color: rgb(207, 49, 0);
  border-radius: 5px;
  -webkit-appearance: none;
  background: #fff url(/images/select-arrow.png) no-repeat 98% center;
  background-size: 12px;
  text-align: center;
}

/* .Data_raganje {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222222;
  font-size: 14px;
  text-shadow: 2px 2px #d2bbbb;
  font-style: normal;
  font-weight: 600;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-stretch: 100%;
  font-variation-settings: normal;
  font-feature-settings: normal;
  text-transform: uppercase;
  text-decoration: none solid rgb(34, 34, 34);
  text-align: center;
  text-indent: 0px;
}

.Data_raganje input {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgb(248, 174, 134);
  border-radius: 5px;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.Data_raganje button {
  width: 200px;
  height: 55px;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: black;
  border-radius: 5px;
}
.Data_raganje .button button:hover {
  background-color: #d03b3b;
}

.Data_raganje a {
  text-decoration: none;
  color: white;
}

.Data_raganje a:visited {
  background-color: #7e1212;
} */
/* #den {
  display: inline-block; }*/

.grid {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222222;
  font-size: 14px;
  text-shadow: 2px 2px #d2bbbb;
  font-style: normal;
  font-weight: 600;
  font-variant: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-stretch: 100%;
  font-variation-settings: normal;
  font-feature-settings: normal;
  text-transform: uppercase;
  text-decoration: none solid rgb(34, 34, 34);
  text-align: center;
  text-indent: 0px;
  margin-bottom: 0;
}
.grid input {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgb(248, 174, 134);
  border-radius: 5px;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.grid .button {
  width: 200px;
  height: 55px;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: black;
  border-radius: 5px;
}
.grid .button a {
  text-decoration: none;
  color: white;
}
.grid .button:hover a {
  color: orange;
}

.grid .pole1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.grid .pole2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.grid .pole3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.grid .pole4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer footer {
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  color: rgb(247, 150, 29);
  width: fit-content;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}