.body1 {
  background-color: #1e1e22;
}

/* /* .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}

li {
  display: inline;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  border-bottom-color: orange;
  height: fit-content;
  width: fit-content;
  text-align: center;
}
.navbar #logo {
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: fit-content;
  margin-bottom: 0px;
}
li a:hover {
  background-color: orange; 
}*/

.header1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 5px;
  margin-right: 100px;
  height: 0px;
  padding-top: 8px;
}
.header1 .linkovi img {
  height: 12px;
}

.header1 .linkovi a {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  padding: 15px;
  margin-top: 5px;
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: ease;
}

.header1 .linkovi a:hover {
  background-color: orange;
  cursor: pointer;
  
}
.linkovi .mk select {
  width: 50px;
  height: 20px;
  border: solid 2px white;
  border-bottom: transparent;
  border-top: transparent;
  background-color: transparent;
  color: white;
  transition: width 2s;
}
.linkovi .mk select:hover {
  cursor: pointer;
  width: 100px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 0px;
  height: fit-content;
}

.navbar .logo img {
  margin-left: 150px;
  margin-right: 0;
  width: 150px;
  height: 150px;
  transition: height 5s;
}
.navbar .logo:hover img{
  height: 200px;
}
.navbar .linkovi2 {
  height: 50px;
}

.navbar .linkovi2 a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  /* margin-bottom: 20px; */
}
.navbar .linkovi2 a {
  cursor: pointer;
  transition-duration: 2s;
}
.navbar .linkovi2 .home {
  padding-bottom: 15px;
  border-bottom: solid 2px;
  border-bottom-color: orangered;
}

.linkovi2 .home img {
  background-color: orangered;
}

.navbar .linkovi2 .link1 {
  padding-bottom: 15px;
  border-bottom: solid 2px;
  border-bottom-color: orange;
  
}
.link1 a:hover {
  color: orange;
  
  
}
.navbar .linkovi2 .link2 {
  padding-bottom: 15px;
  border-bottom: solid 2px;
  border-bottom-color: #e87bb0;
}
.link2 a:hover {
  color: #e87bb0;
}
.navbar .linkovi2 .link3 {
  padding-bottom: 15px;
  border-bottom: solid 2px;
  border-bottom-color: #dbe368;
}
.link3 a:hover {
  color: #dbe368;
}
.navbar .linkovi2 .link4 {
  padding-bottom: 15px;
  border-bottom: solid 2px;
  border-bottom-color: #f8dc5e;
}
.link4 a:hover {
  color: #f8dc5e;
}
.navbar .linkovi2 .link5 {
  padding-bottom: 15px;
  border-bottom: solid 2px;
  border-bottom-color: #b9e4f3;
}
.link5 a:hover {
  color: #b9e4f3;
}
.navbar .linkovi2 .link6 {
  padding-bottom: 15px;
  border-bottom: solid 2px;
  border-bottom-color: #c76969;
}
.link6 a:hover {
  color: #c76969;
}

.navbar .pivara img {
  padding-right: 100px;
  
}


.main_top {
  width: 100%;
  height: 600px;
  background-image: url(/images/main-slider.png);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.naslov {
  padding-bottom: 50px;
  margin-left: 50px;
}
.naslov span,
h1 {
  color: rgb(241, 241, 222);
  font-family: sans-serif;
  text-shadow: 2px 2px rgb(34, 32, 32);
  position: relative;
  text-align: center;
}
.naslov h1 {
  font-size: 50px;
  animation-name: color-change;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
/* .naslov h1::first-line {
  color: #11cd1a;
} */
@keyframes color-change {
  0% {
    color:#11cd1a;
  }
  25% {
    color:black;
  }
  50% {
    color:#11cd1a
  }
  75% {
    color:black
  }
  100% {
    color:#11cd1a
  }
}

.naslov span {
  font-size: 30px;
}
.sticky {
  position: sticky;
  top: 0;
  align-self: flex-start;
  /* bottom: 200px; */
}
.sticky a:hover {
  cursor: pointer;
}

.novosti {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 20px 150px;
  background-color: black;
  gap: 20px;
  font-family: sans-serif;
  color: white;
}
.novosti .h2 {
  font-size: xx-large;

  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  border-bottom-style: solid;
  border-bottom-color: #e68c1a;
}
.novosti2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
}

.novosti2 a {
  text-decoration: none;
  color: white;
  border: solid 2px;
  border-color: #e90000;
  border-bottom: transparent;
  border-top: transparent;
  border-right: transparent;
  padding: 0px 10px;
  transition-duration: 2s;
  transition-timing-function: ease;
}
.novosti2 span:hover a {
  color: #e90000;
}

.novosti3 span {
  font-size: x-large;
}

.cards {
  background-color: black;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 150px;
}
.cards .card1 img {
  width: 300px;
  border-bottom: solid;
  border-bottom-width: 10px;
  border-bottom-color: #dbe368;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.cards .card1:hover img {
  box-shadow: 3px 3px #474758;
}

.cards .card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 300px;
  font-family: sans-serif;
  height: 400px;
  padding: 15px;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.cards .card1:hover {
  background-color: #ecf0bb;
}
.cards .card2 img {
  width: 300px;
  border-bottom: solid;
  border-bottom-width: 10px;
  border-bottom-color: #dbe368;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.cards .card2:hover img {
  box-shadow: 3px 3px #474758;
}

.cards .card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 300px;
  font-family: sans-serif;
  height: 400px;
  padding: 15px;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.cards .card2:hover {
  background-color: #ecf0bb;
}

.cards .card3 img {
  width: 300px;
  border-bottom: solid;
  border-bottom-width: 10px;
  border-bottom-color: #dbe368;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.cards .card3:hover img {
  box-shadow: 3px 3px #474758;
}

.cards .card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 300px;
  font-family: sans-serif;
  height: 400px;
  padding: 15px;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
.cards .card3:hover {
  background-color: #ecf0bb;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 150px;
  align-items: start;
  gap: 20px;
  font-family: sans-serif;
  color: white;
  background-color: #1e1e22;
}

.footer a {
  text-decoration: none;
  color: white;
  border-bottom: solid 2px;
  transition-duration: 2s;
  transition-timing-function: ease;

}

.doma a {
  border-bottom-color: #bf331d;
}
.doma a:hover {
  color: #bf331d;
  
}

.inovacii a {
  border-bottom-color: #b22066;
}
.inovacii a:hover {
  color: #b22066;
}
.razvoj a {
  border-bottom-color: #929b12;
}
.razvoj a:hover {
  color: #929b12;
}
.kariera a {
  border-bottom-color: #d8b40c;
}
.kariera a:hover {
  color: #d8b40c;
}
.kontakt a {
  border-bottom-color: #3bacd3;
}
.kontakt a:hover {
  color: #3bacd3;
}
.del2 h3 {
  border-bottom: solid 2px #e68c1e;
  width: fit-content;
}
.del2 a {
  text-decoration: none;
  border-style: none;
}
.del2 a:hover {
  color: #e68c1e;
}
.footer .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 300px;
  background-color: #3d3e47;
  border-radius: 5px;
  padding: 5px;
  border-color: none;
  margin-top: 0;
}
.footer .form input {
  text-align: center;
  height: 30px;
  border-radius: 5px;
}
.footer .form button {
  text-align: center;
  height: 30px;
  border-radius: 5px;
  width: 100%;
  background-color: #e68c1e;
  color: white;
  border-style: none;
  cursor: pointer;
}

.footer .del3 iframe {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  /* margin-left: 20px; */
}

@media screen and (max-width: 1050px) {
  .novosti {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  
  .header1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 20px;

    
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px 20px;
    
  }
  .navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .navbar .pivara img{
    display: none;
  }
  .main_top
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .novosti {
    font-size: 15px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    /* padding: 20px 50px; */
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    /* padding: 20px 50px; */
  }
  .footer {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    /* padding: 20px 50px; */
  }
}
